/* This file was created by Ruben Boero and Serafin Patino */

.title_container {
    text-align: center;
    padding: 10px;
}

#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    /* justify-content: space-between; */
}
#home_logo {
    width: 80px;
    height: 100%;
}

#header_text {
    /* text-align: center; */
    /* Im trying to figure out how to center a banner at the top of the page, not sure how to do it other 
    than by eyeballing it with relative. Whats a better way to do this? */
    position: relative;
    left: 25%;
    font-size: 110%;

}

.empty_space {
    padding: 50px;
}

#search_bar_container {
    text-align: center;
    padding: 10px;
}

#go_button {
    /* Need to change the standard style of the go button to change the height of it I think
    https://stackoverflow.com/questions/7374001/how-to-edit-the-size-of-the-submit-button-on-a-form */

    /* List of different border styles:display:
    https://www.w3schools.com/css/css_border.asp */

    border: outset, 1px solid black;
    border-radius: 20px;
    width: 30px;
    height: 50px;
    /* Relative positions + 5px makes the go button aligh horizontally with the search bar */
    position: relative;
    bottom: 5px;
}

/* https://stackoverflow.com/questions/10363674/change-size-of-text-in-text-input-tag */
input[type = "text"] {
    font-size:25px;
    padding-left: 10px;
}

#search_bar {
    width: 90%;
    height: 50px;
    border-radius: 40px;
}

#check_boxes {
    text-align: left;
    margin-left: 4%;
}