/* This file was created by Ruben Boero and Serafin Patino */

table, td, th {
    margin: 0 auto;
}

th, td {
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 60px;
    text-align: left;
}

.title_container {
    text-align: center;
    padding: 10px;
}

#advanced_search {
    font-size: small;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    justify-content: space-between;
}

.empty_space {
    padding: 50px;
}

/* https://stackoverflow.com/questions/3463621/css-label-text-right-below-input-element */
div.search_text_pair {
    float:left;
}

#search_bar {
height: 30px;
text-align: right;
margin-left: 500px;
}

/* TODO: logo doesn't want to adopt resizing of code below */
#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}